.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 18px;
}

.title {
  font-size: 28px;
}

.btn_filter {
  width: max-content;
  padding: 10px;
  font-family: inherit;
  font-size: 24px;
  border-radius: 10px;
  margin: 20px 0;
  background: -webkit-linear-gradient(90deg, #f6f7f8,#e1e8f2,#d9e1ee);
  background: linear-gradient(90deg, #f6f7f8,#e1e8f2,#d9e1ee);
}
